p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background-color:  rgb(243, 239, 239);
    padding-bottom: 50px;
    margin: 0;
    padding-top: 75px;
    padding-left: 110px;
    padding-right: 30px;
}

.line {
    margin: 2px;
    background-color: rgb(206, 203, 203);
    width: 100%;
    height: 3px;
}
