.sidebar {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-color: white;
    z-index: 100;

    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 70px;
}

.icon-description {
    font-size: 9.5px;
    margin-top: 0;
}

.sidebar-icon {
    height: 30px;
}

.sidebar-button {
    width: 65px;
    height: 70px;
    background-color: white;
    border: 0;
    margin-top: 2px;
    border-radius: 10px;
}

.sidebar-button:hover {
    cursor: pointer;
    background-color: rgb(235, 230, 230);
}
