.all-videos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    margin-bottom: 40px;
}

@media (max-width: 690px) {
    .all-videos-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) and (max-width: 1114px) {
    .all-videos-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1150px) and (max-width: 1499px) {
    .all-videos-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1500px) {
    .all-videos-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.tumbnail {
    width: 100%;
    border-radius: 15px;
}

.tumbnail-row {
    margin-bottom: 10px;
    position: relative;
}

.video-time {
    font-family: Roboto, Arial;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    bottom: 6px;
    right: 4px;
}

.video-title {
    width: 280px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 12px;
}

.video-author {
    font-size: 15px;
    color: gray;
    display: inline-block;
}

.video-stats {
    font-size: 13px;
    color: gray;
    margin-top: 5px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.logo {
    width: 40px;
    border-radius: 50%;
}

.video-preview:hover {
    cursor: pointer;
}