.block {
    background-color: white;
    width: 500px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 30px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    position: relative;
    top: 50px;
}

.login-logo {
    font-family: Martian Mono;
    padding: 5px;
    font-size: 50px;
    font-weight: bold;

    background-image: linear-gradient(to right, blue, rgb(108, 205, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    top: 20px;
}

.top-line {
    background-color: rgb(62, 62, 252);
    width: 90%;
    height: 6px;
    border-radius: 5px;

    position: absolute;
    top: 140px;
}

.login-system {
    width: 450px;
    height: 190px;

    display: grid;
    grid-template-rows: 30px 50px 10px 30px 50px 10px 30px 50px 10px;
    align-items: center;

    position: relative;
}

.text {
    font-family: Martian Mono;
    color: rgb(100, 98, 98);
    margin-left: 10px;

    position: relative;
}

.user-input {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
    height: 100%;

    position: relative;
}

.user-input:hover .line {
    background-image: linear-gradient(blue, lightblue);
}

.user-icon {
    margin-left: 15px;
    width: 27px;
}

.input-box {
    border: 0;
    margin-right: 30px;
    height: 30px;
    outline: 0;
}

.line {
    background-color: gray;
    width: 430px;
    height: 2px;
    margin-left: 20%;
}

.login-button {
    font-family: Martian Mono;
    color: white;
    font-size: 17px;
    height: 50px;
    width: 250px;
    border: 0;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgb(83, 219, 243),
            blue,
            lightblue);

    position: absolute;
    top: 80%;
    left: 25%;
}

.login-button:hover {
    cursor: pointer;
}

.login-button:active {
    opacity: 0.7;
}